{% load static %}

    <!--   Weekly2-News start -->
    <div class="weekly2-news-area pt-50 pb-30 gray-bg">
        <div class="container">
            <div class="weekly2-wrapper">
                <div class="row">
                    <!-- Banner -->
                    <div class="col-lg-3">
                        <div class="home-banner2 d-none d-lg-block">
                            <img src="{% static 'assets/img/gallery/body_card2.png' %}" alt=""/>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="slider-wrapper">
                            <!-- section Tittle -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="small-tittle mb-30">
                                        <h4>
                                            Most Popular
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Slider -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="weekly2-news-active d-flex">
                                        {% for random_post in random_posts %}
                                        <!-- Single -->
                                        <div class="weekly2-single">
                                            <div class="weekly2-img">
                                                <img src="{{ random_post.featured_image.url }}" alt="{{ random_post.title }}"/>
                                            </div>
                                            <div class="weekly2-caption">
                                                <h4>
                                                    <a href="{% url 'post-detail' random_post.pk %}">{{ random_post.title|truncatechars:50 }}</a>
                                                </h4>
                                                <p>
                                                    {{ random_post.author.username }}  |  {{ random_post.published_at }}
                                                </p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Weekly-News -->