{% load static %}
<section class="whats-news-area pt-50 pb-20 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="whats-news-wrapper">
                    <!-- Heading & Nav Button -->
                    <div class="row justify-content-between align-items-end mb-15">
                        <div class="col-xl-4">
                            <div class="section-tittle mb-30">
                                <h3>Whats New</h3>
                            </div>
                        </div>
                        <div class="col-xl-8 col-md-9">
                            <div class="properties__button">
                                <!--Nav Button  -->
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All</a>
                                        {% for category in categories  %}
                                          <a class="nav-item nav-link" id="nav-{{ category.name }}-tab" data-toggle="tab" href="#nav-{{ category.name }}" role="tab" aria-controls="nav-{{ category.name }}" aria-selected="false">{{ category.name }}</a>
                                        {% endfor %}
                      
                                      </div>
                                </nav>
                                <!--End Nav Button  -->
                            </div>
                        </div>
                    </div>
                    <!-- Tab content -->
                    <div class="row">
                        <div class="col-12">
                            <!-- Nav Card -->
                            <div class="tab-content" id="nav-tabContent">
                                <!-- card one -->
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">       
                                    <div class="row">
                                        <!-- Left Details Caption -->
                                        {% for post in recent_posts %}
                                        <div class="col-xl-6 col-lg-12">
                                            <div class="whats-news-single mb-40 mb-40">
                                                <div class="whates-img">
                                                    <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                                                </div>
                                                <div class="whates-caption">
                                                    <h4><a href="{% url 'post-detail' post.pk %}"> {{ post.title|truncatechars:25 }} </a></h4>
                                                    <span>by {{ post.author.username }}   -   {{ post.published_at }}</span>
                                                    <p>{{ post.content|truncatechars:100 }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- Card two -->
                                {% for category in categories %}
                                <div class="tab-pane fade" id="nav-{{ category.name }}" role="tabpanel" aria-labelledby="nav-{{ category.name }}-tab">
                                    <div class="row">
                                        <!-- Left Details Caption -->
                                        <div class="col-xl-6">
                                            {% for post in category.post_set.all|slice:':1' %}
                                            <div class="whats-news-single mb-40">
                                                <div class="whates-img">
                                                    <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                                                </div>
                                                <div class="whates-caption">
                                                    <h4><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h4>
                                                    <span>by {{ post.author.username }}   -  {{ post.published_at }}</span>
                                                    <p>{{ post.content|truncatechars:250 }}</p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <!-- Right single caption -->
                                        <div class="col-xl-6 col-lg-12">
                                            <div class="row">
                                                <!-- single -->
                                                {% for post in category.post_set.all %}
                                                <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                                    <div class="whats-right-single mb-20">
                                                        <div class="whats-right-img">
                                                            <img width="124" class="img-fluid" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                                                        </div>
                                                        <div class="whats-right-cap">
                                                            <span class="colorb">{{ post.category.name }}</span>
                                                            <h4><a href="{% url 'post-detail' post.pk %}">{{ post.title|truncatechars:25 }}</a></h4>
                                                            <p>{{ post.published_at }}</p> 
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        <!-- End Nav Card -->
                        </div>
                    </div>
                </div>
                <!-- Banner -->
                <div class="banner-one mt-20 mb-30">
                    <img src="{% static 'assets/img/gallery/body_card1.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Flow Socail -->
                <div class="single-follow mb-45">
                    <div class="single-box">
                        <div class="follow-us d-flex align-items-center">
                            <div class="follow-social">
                                <a href="#">
                                    <img src="{% static 'assets/img/news/icon-fb.png' %}" alt="">
                                </a>
                            </div>
                            <div class="follow-count">
                                <span>8,045</span>
                                <p>
                                    Fans
                                </p>
                            </div>
                        </div>
                        <div class="follow-us d-flex align-items-center">
                            <div class="follow-social">
                                <a href="#">
                                    <img src="{% static 'assets/img/news/icon-tw.png' %}" alt="">
                                </a>
                            </div>
                            <div class="follow-count">
                                <span>8,045</span>
                                <p>
                                    Fans
                                </p>
                            </div>
                        </div>
                        <div class="follow-us d-flex align-items-center">
                            <div class="follow-social">
                                <a href="#">
                                    <img src="{% static 'assets/img/news/icon-ins.png' %}" alt="">
                                </a>
                            </div>
                            <div class="follow-count">
                                <span>8,045</span>
                                <p>
                                    Fans
                                </p>
                            </div>
                        </div>
                        <div class="follow-us d-flex align-items-center">
                            <div class="follow-social">
                                <a href="#">
                                    <img src="{% static 'assets/img/news/icon-yo.png' %}" alt="">
                                </a>
                            </div>
                            <div class="follow-count">
                                <span>8,045</span>
                                <p>
                                    Fans
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Most Recent Area -->
                <div class="most-recent-area">
                    <!-- Section Tittle -->
                    <div class="small-tittle mb-20">
                        <h4>
                            Most Recent
                        </h4>
                    </div>
                    <!-- Details -->
                    {% for recent_post in recent_posts|slice:':1' %}
                        <div class="most-recent mb-40">
                            <div class="most-recent-img">
                                <img src="{{ recent_post.featured_image.url }}"
                                     alt="{{ recent_post.title }}">
                                <div class="most-recent-cap">
                                    <span class="bgbeg">{{ recent_post.category.name }}</span>
                                    <h4>
                                        <a href="{% url 'post-detail' recent_post.pk %}">{{ recent_post.title|truncatechars:25 }}</a>
                                    </h4>
                                    <p>
                                        {{ recent_post.author.username }}  |  {{ recent_post.published_at }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- Single -->
                    {% for recent_post in recent_posts %}
                        <div class="most-recent-single">
                            <div class="most-recent-images">
                                <img width="85"
                                     class="img-fluid"
                                     src="{{ recent_post.featured_image.url }}"
                                     alt="{{ recent_post.title }}">
                            </div>
                            <div class="most-recent-capt">
                                <h4>
                                    <a href="{% url 'post-detail' recent_post.pk %}">{{ recent_post.title|truncatechars:25 }}</a>
                                </h4>
                                <p>
                                    {{ recent_post.author.username }} |  {{ recent_post.published_at }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% comment %} 
{% load static %}

<section class="whats-news-area pt-50 pb-20">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row justify-content-between align-items-end mb-15">
          <div class="col-xl-4">
            <div class="section-tittle mb-30">
              <h3>Whats New</h3>
            </div>
          </div>
          <div class="col-lg-8 col-md-9">
            <div class="properties__button">
              <!--Nav Button  -->
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All</a>
                  {% for category in categories  %}
                    <a class="nav-item nav-link" id="nav-{{ category.name }}-tab" data-toggle="tab" href="#nav-{{ category.name }}" role="tab" aria-controls="nav-{{ category.name }}" aria-selected="false">{{ category.name }}</a>
                  {% endfor %}

                </div>
              </nav>
              <!--End Nav Button  -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <!-- Nav Card -->
            <div class="tab-content" id="nav-tabContent">
              <!-- card one -->
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="whats-news-caption">
                  <div class="row">
                    {% for post in recent_posts %}
                      <div class="col-lg-6 col-md-6">
                        <div class="single-what-news mb-100">
                          <div class="what-img">
                            <img class="img-fluid" src="{{ post.featured_image.url }}" alt="{{ post.title }}" />
                          </div>
                          <div class="what-cap">
                            <span class="color1">{{ post.category.name }}</span>
                            <h4>
                              <a href="{% url 'post-detail' post.pk %}">{{ post.title|truncatechars:25 }}</a>
                            </h4>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% for category in categories %}
                <!-- Card two -->
                <div class="tab-pane fade" id="nav-{{ category.name }}" role="tabpanel" aria-labelledby="nav-{{ category.name }}-tab">
                  <div class="whats-news-caption">
                    <div class="row">
                      {% for post in category.post_set.all %}
                        <div class="col-lg-6 col-md-6">
                          <div class="single-what-news mb-100">
                            <div class="what-img">
                              <img class="img-fluid" src="{{ post.featured_image.url }}" alt="{{ post.title }}" />
                            </div>
                            <div class="what-cap">
                              <span class="color1">{{ post.category.name }}</span>
                              <h4>
                                <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
                              </h4>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <!-- End Nav Card -->
          </div>
        </div>
        <div class="banner-one mt-20 mb-30">
            <img src="{% static 'assets/img/gallery/body_card1.png' %}" alt="">
        </div>
        </div>
        <div class="col-lg-4">
            <!-- Flow Socail -->
            <div class="single-follow mb-45">
                <div class="single-box">
                    <div class="follow-us d-flex align-items-center">
                        <div class="follow-social">
                            <a href="#"><img src="{% static 'assets/img/news/icon-fb.png' %}" alt=""></a>
                        </div>
                        <div class="follow-count">  
                            <span>8,045</span>
                            <p>Fans</p>
                        </div>
                    </div> 
                    <div class="follow-us d-flex align-items-center">
                        <div class="follow-social">
                            <a href="#"><img src="{% static 'assets/img/news/icon-tw.png' %}" alt=""></a>
                        </div>
                        <div class="follow-count">
                            <span>8,045</span>
                            <p>Fans</p>
                        </div>
                    </div>
                        <div class="follow-us d-flex align-items-center">
                        <div class="follow-social">
                            <a href="#"><img src="{% static 'assets/img/news/icon-ins.png' %}" alt=""></a>
                        </div>
                        <div class="follow-count">
                            <span>8,045</span>
                            <p>Fans</p>
                        </div>
                    </div>
                    <div class="follow-us d-flex align-items-center">
                        <div class="follow-social">
                            <a href="#"><img src="{% static 'assets/img/news/icon-yo.png' %}" alt=""></a>
                        </div>
                        <div class="follow-count">
                            <span>8,045</span>
                            <p>Fans</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Most Recent Area -->
            <div class="most-recent-area">
                <!-- Section Tittle -->
                <div class="small-tittle mb-20">
                    <h4>Most Recent</h4>
                </div>
                <!-- Details -->
                {% for recent_post in recent_posts|slice:':1' %}
                <div class="most-recent mb-40">
                    <div class="most-recent-img">
                        <img src="{{ recent_post.featured_image.url }}" alt="{{ recent_post.title }}">
                        <div class="most-recent-cap">
                            <span class="bgbeg">{{ recent_post.category.name }}</span>
                            <h4><a href="{% url 'post-detail' recent_post.pk %}">{{ recent_post.title|truncatechars:25 }}</a></h4>
                            <p>{{ recent_post.author.username }}  |  {{ recent_post.published_at }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- Single -->
                {% for recent_post in recent_posts %}
                <div class="most-recent-single">
                    <div class="most-recent-images">
                        <img width="85" class="img-fluid" src="{{ recent_post.featured_image.url }}" alt="{{ recent_post.title }}">
                    </div>
                    <div class="most-recent-capt">
                        <h4><a href="{% url 'post-detail' recent_post.pk %}">{{ recent_post.title|truncatechars:25 }}</a></h4>
                        <p>{{ recent_post.author.username }} |  {{ recent_post.published_at }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
      </div>
      
    </div>
  </div>
    </section> {% endcomment %}
